<div class="dashboard-container">

  <!-- SIDEBAR -->

  <div class="sidebar">

    <div>

      <h2 class="logo">
        MunicEvents
      </h2>

      <p class="municipio-name">
        Municipalidad de Santiago
      </p>

      <ul class="menu">

        <li class="active">
          <i class="bi bi-grid"></i>
          Dashboard
        </li>

         <li routerLink="/eventos">
          <i class="bi bi-chat-dots"></i>
          Eventos
        </li>

        <li>
          <i class="bi bi-qr-code"></i>
          Interacciones QR
        </li>

        <li routerLink="/comentarios">
          <i class="bi bi-chat-dots"></i>
          Comentarios
        </li>
        <li routerLink="/usuarios-municipio">
          <i class="bi bi-people"></i>
          Usuarios Municipio
        </li>
        <li>
          <i class="bi bi-bar-chart"></i>
          Métricas
        </li>

      </ul>

    </div>

      <div
  class="logout"
  (click)="cerrarSesion()">

  <i class="bi bi-box-arrow-right"></i>

  Cerrar sesión

</div>


  </div>

  <!-- CONTENIDO -->

<div class="main-content">

  <div class="topbar">

    <div>

      <h3>
        Dashboard Municipio
      </h3>

      <p>
        Gestión y monitoreo de eventos municipales
      </p>

    </div>

  </div>

  <!-- MÉTRICAS -->

  <div class="cards-container">

    <div class="metric-card card-eventos">

      <div>

        <p>Eventos Activos</p>

        <h2>{{ eventos.length }}</h2>

      </div>

      <i class="bi bi-calendar-event"></i>

    </div>

    <div class="metric-card card-interacciones">

      <div>

        <p>Interacciones QR</p>

        <h2>0</h2>

      </div>

      <i class="bi bi-qr-code"></i>

    </div>

    <div class="metric-card card-interesados">

      <div>

        <p>Usuarios Interesados</p>

        <h2>0</h2>

      </div>

      <i class="bi bi-heart"></i>

    </div>

    <div class="metric-card card-valoracion">

      <div>

        <p>Valoración Promedio</p>

        <h2>-</h2>

      </div>

      <i class="bi bi-star-fill"></i>

    </div>

  </div>

  <!-- EVENTOS -->

  <div class="events-section">

    <div class="section-header">

      <h4>
        Eventos Publicados
      </h4>
   

    </div>

    <!-- LISTA -->

    <div
      class="event-card"
      *ngFor="let evento of eventos">

      <div>

        <h5>
          {{ evento.nombreEvento }}
        </h5>

        <p>
          {{ evento.direccion }}
        </p>

      </div>

      <div class="event-stats">

        <button
  class="btn btn-download"
  (click)="descargarQr(evento.idEvento)">

  <i class="bi bi-download"></i>

  Descargar QR

</button>

      </div>

    </div>

    <!-- SIN EVENTOS -->

    <div
      class="empty-events"
      *ngIf="eventos.length == 0">

      <i class="bi bi-calendar-x"></i>

      <h4>
        No hay eventos publicados
      </h4>

      <p>
        Crea tu primer evento para comenzar.
      </p>

    </div>

  </div>

</div>